<li class="span4">
  <div class="thumbnail" >
  <div class="texto" style="position: absolute; opacity: 0; ">   
    <%= shot.description %>
  </div>
  <div>
      <%= image_tag("sample_10.jpg", :height => '200', :width => '300') %>
  </div>

    <div class="caption">
      <h6>
        <%= shot.user.name %>
        <a href="#" class="pull-right"><i class="icon-heart"></i> 237</a>
      </h6>

    </div>
  </div>

</li>