<li class="span3">
  <div class="thumbnail" >
    <div class="shot-description">   
      <%= shot.description %>
    </div>
    <div>
        <%= image_tag shot.image.url, style: "height: 210px; width:210; align: center;"%>
    </div>
    <div class="caption">
      <h6>
        <%= shot.user.name %>
        <a href="#" class="pull-right"><i class="icon-heart"></i> 237</a>
      </h6>
    </div>
  </div>
</li>