<div class="hero-unit">
  <h1>tiny-dribbble</h1>
  <h2>Home with fancy text.</h2>
    <% unless user_signed_in? %>
      <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-small btn-primary" %>
    <% end %>
</div>
<div class="row-fluid">
  <h2>Other users shots</2>
</div>

<% unless @shots.empty? %>
  <% @shots.each_slice(4) do |ts|%>
    <div class="row-fluid">
      <ul class="thumbnails">
        <%= render ts %>
      </ul>
    </div>
  <% end  %>
<% end  %>


<script type="text/javascript">
  $(document).ready(function(){
    $("img").parent().hover(function() {
      $(this).stop().animate({opacity: "0.1"}, 'fast');
      $(this).parent().find(".shot-description").stop().animate({opacity: "1"}, 'fast');
      },
    function() {
      $(this).stop().animate({opacity: "1"}, 'fast');
      $(this).parent().find(".shot-description").stop().animate({opacity: "0"}, 'fast');
    });
    $('a').tooltip();
  });
</script>